.sprite { background: url(../../assets/images/css_sprites.png) no-repeat; background-size: 1106px 427px;}
.icon-349785cebae8a01021f3848c2bb2b38 { width: 730px; height: 433px; background-position: 3px 3px; }
.icon-dc8eba35a4872f4c7b674e9d161a11d { width: 368px; height: 310px; background-position: -741px 3px; }